/*__TABLETS__*/
@media (min-width: 768px) and (max-width: 959px) {
    /*_HOME_*/
    /*HEADER_HOME*/
    .header .navegacao {
        padding-left: 15px;
    }
    .header .navegacao a {
        margin-left: 25px;
    }
    /*SOBRE_HOME*/
    .home-sobre .content-home-sobre::before {
        left: 310px;
        margin-top: 70px;
    }
    .home-sobre .content-home-sobre .information p {
        margin-bottom: 60px;
        font-size: 14px;
    }
    .intro .content-intro .content-intro-interna {
        min-width: 556px;
    }
    /*GRUPOS_HOME*/
    .home-grupos .content-home-grupos .information-home-grupos {
        margin-left: 110px;
        max-width: 260px;
        margin-top: 82px;
    }
    .home-grupos .content-home-grupos .information-home-grupos p {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 32px;
    }
    /*EVENTOS_HOME*/
    .home-eventos .content-home-eventos div:nth-child(1) {
        margin-right: 32.5px;
      }
      .home-eventos .content-home-eventos div:nth-child(3) {
        margin-left: 32.5px;
      }
    /*SERMOES_HOME*/
    .home-sermoes .link h3 {
        font-size: 18px;
    }
    /*FOOTER*/
    .footer-home .content::before {
        left: 350px;
    }
    .footer-home .information-dados {
        margin-right: 100px;
    }

    /*_SOBRE_*/
    .missao-sobre h2 {
        min-width: 500px;
    }
    .nossa-historia h2 {
        min-width: 500px;
    }
    .lideres {
        overflow: hidden;
        max-width: 748px;
    }
    .lideres .contant-lideres div {
        margin-left: 0;
    }
    .lideres .contant-lideres div:nth-child(3) {
        margin-right: 10px;
    }

    /*_GRUPOS_*/
    .texto-grupos p {
        font-size: 14px;
    }
    .grupos .secao .content {
        padding: 5px 0px;
    }
    .grupos .secao .content p {
        font-size: 14px;
        padding-top: 10px;
    }
    .grupos a.saibamais {
        margin-top: 10px;
    }
    .grupos .secao .content h2 {
        margin-top: 10px;
    }

    /*_EVENTO_*/
    .eventos .evento-evento {
        min-width: 240px;
    }
    .eventos .evento-evento:nth-child(1) {
        margin-right: 0px;
    }
    .eventos .evento-evento:nth-child(3) {
        margin-left: 0px;
    }
    .eventos .evento-evento div {
        padding: 20px 0px;
    }

    /*_SERMAO_*/
    .links .content-links div {
        min-width: 604px;
    }
    .links .content-links div h3 {
        font-size: 18px;
    }

    /*_CONTATO_*/
    .information .content-iformation div {
        margin-right: 180px;
    }
    .direitos ul {
        margin-left: 220px;
    }

    /*_INTRO_*/
    .intro {
        padding: 50px 0px;
    }
}